.App {
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.text-white {
  color: var(--white) !important;
}

.text-black {
  color: var(--black) !important;
}

.fill-main-color {
  color: var(--main-color) !important;
}

.align-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--black);
  margin: 0.25rem 0.875rem;
}

.btn {
  font-weight: 500;
  font-size: 1rem;
  color: var(--white);
  padding: 0.625em 0;
  display: inline-block;
  min-width: 90px;
  background: var(--main-color);
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.btn:hover {
  background-color: var(--main-color-light);
}

@media (max-width: 900px) {
  .btn {
    min-width: 80px;
    font-size: 0.875rem;
    padding: 0.5em 0;
  }
}
