.home-banner-container {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.home-banner-container .imageCard-container {
  flex: 1;
  margin-left: 1.25rem;
}

.home-banner-container .picCarouselContainer {
  flex: 2;
}

@media (max-width: 700px) {
  .home-banner-container .imageCard-container {
    display: none;
  }
}
